
{{partial "nav.html" .}}
<div class="keyboard">
{{partial "header.html" .}}

    <main>
        <h3>{{.Site.Params.header}}</h3>
        <section class="Leistungen">
            <div class="Leistungen__design">
                <p>{{.Site.Params.leistung1}}</p>
                <img src="images/design.svg" alt="Malutensilien">
            </div>
            <div class="Leistungen__strategie">
                <p>{{.Site.Params.leistung2}}</p>
                <img src="images/strategy.svg" alt="Kreis mit strategisch gezogenen Linien">
            </div>
            <div class="Leistungen__consulting">
                <p>{{.Site.Params.leistung3}}</p>
                <img src="images/consulting.svg" alt="Glühbirne">
            </div>
        </section>
        <h3>News</h3>

        <section id="News">
            <ul>
                <li>
                    <p><a href="{{.Site.Params.link}}">{{.Site.Params.header1}}</a>{{.Site.Params.description1}}<a href="__">[mehr
                            erfahren]</a></p>
                </li>
                <li>
                    <p><a href="{{.Site.Params.link}}">{{.Site.Params.header2}}</a>{{.Site.Params.description2}}<a
                            href="__">[mehr erfahren]</a></p>

                </li>
                <li>
                    <p><a href="{{.Site.Params.link}}">{{.Site.Params.header3}}</a>{{.Site.Params.description3}}<a href="__">[mehr
                            erfahren]</a></p>

                </li>
            </ul>
        </section>
        <h3>Referenzen</h3>
        <section id="Referenzen">
            <div class="tinapic">
                <img src="{{.Site.Params.image1}}" alt="Frau mit lockigen, langen Haaren namens Tina Ubuntu">
            </div>
            <p class="tinaUbuntu">{{.Site.Params.name1}}<br>{{.Site.Params.job1}}</p>
            <blockquote cite="__" class="TinaZitat">
                <p>{{.Site.Params.quote1}}</p>
            </blockquote>
            <div class="tomHerzogPic">
                <img src="{{.Site.Params.image2}}" alt="Glatzköpfiger Mann mit schwarzer Brille namens Tom Herzog">
            </div>
            <p class="TomHerzog">{{.Site.Params.name2}}<br>{{.Site.Params.job2}}</p>
            <blockquote class="tomZitat" cite="__">
                <p>{{.Site.Params.quote2}}</p>
            </blockquote>
            <div class="blau"></div>
            <div class="semicolon">
                <img src="images/quotation_mark.svg" alt="Großes, weißes Hochkomma">
            </div>
            <div class="vorstandPic">
                <img src="{{.Site.Params.image3}}" alt="Vorstand Müller AG Ernst Anker und Florian Eisner">
            </div>
            <div class="textVorstand">
                <p class="namenVorstand">{{.Site.Params.name3}}<br>{{.Site.Params.job3}}</p>
                <blockquote class="zitatVorstand" cite="__">
                    <p>{{.Site.Params.quote3}}</p>
                </blockquote>
            </div>

        </section>
    </main>

{{partial "footer.html" .}}
